@import "/assets/css/01variables";
@import "/assets/css/02light-dark-mode";
@import "/assets/css/03fonts";
@import "/assets/css/04switch";
@import "/assets/css/05inputs";
@import "/assets/css/06spot-colours";
@import "/assets/css/07collapse";
