/* ------
spot colours
-------*/

.spot-col{
    height:38px!important;
    // z-index: 1000!important;
  }
  
  .spot-1{
    background-color: tomato;
  }
  
  .spot-2{
    background-color: greenyellow;
  }
  
  .spot-3{
    background-color: orange;
  }
  
  .spot-1, .spot-2, .spot-3{
    border: $border-width solid $white-1;
    border-left:unset;
    border-right:unset;
  }
  
  .remove, .draggin{
    border: $border-width solid $white-1;
    font-size: 1.5rem;
  }
  
  .draggin{
    cursor: grab;
  }
  
  .remove{
    cursor:pointer;
  }

  .shade{
    z-index: -1;
  }
  
  #gradpreview{
    background: inherit;
    height: auto;
    // animation: fadeMe 2s;
    // transition: all $transition-time!important;
  }
  
  @keyframes fadeMe {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }